<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Template for the pet detail page</title>
</head>
<body>


<!-- find a pet by id -->
<script type="text/ng-template" id="findById.tmpl.html" th:fragment="findById">
    <md-dialog aria-label="Mango (Fruit)">
        <form ng-cloak="">
            <md-dialog-content class="md-dialog-content">
                <h2 class="md-title">Find the pet with this id</h2>
                <label for="petId">Pet id</label>: <input type="number" ng-model="petId" min="1" />
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button ng-click="answer()">
                    OK
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>



</body>
</html>