<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Template for the pet detail page</title>
</head>
<body>


<!-- find a pet by id -->
<script type="text/ng-template" id="findById.tmpl.html" th:fragment="findById">
    <md-dialog>
        <form ng-cloak="">
            <md-dialog-content class="md-dialog-content">
                <h2 class="md-title">Find the pet with id...</h2>
                <label for="petId">Pet id</label>: <input type="number" x-ng-model="petId" min="1" />
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button x-ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button x-ng-click="ok()">
                    OK
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>


<!-- find a pet by status -->
<script type="text/ng-template" id="findByStatus.tmpl.html" th:fragment="findById">
    <md-dialog>
        <form ng-cloak="">
            <md-dialog-content class="md-dialog-content">
                <h2 class="md-title">Find pets with status...</h2>
                
                <ul class="list-unstyled list-checkbox">
                    <li x-ng-repeat="(stat, chosen) in selectedStatuses">
                    <label>
                        <input
                            type="checkbox"
                            x-ng-model="selectedStatuses[stat]"
                        /> {{stat}}
                    </label>
                    </li>
                </ul>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button x-ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button x-ng-click="ok()">
                    OK
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>

<!-- find a pet by status -->
<script type="text/ng-template" id="confirmDeletion.tmpl.html" th:fragment="confirmDeletion">
    <md-dialog>
        <form ng-cloak="">
            <md-dialog-content class="md-dialog-content">
                <h2 class="md-title">Are you sure you want to delete this {{pet.category.name}} ?</h2>
                <dl class="pet-identity">
                    <dt>Id</dt><dd>{{pet.id}}</dd>
                    <dt>Name</dt><dd>{{pet.name}}</dd>
                    <dt>Status</dt><dd>{{pet.status}}</dd>
                </dl>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button x-ng-click="cancel()">
                    No
                </md-button>
                <md-button x-ng-click="ok()">
                    Yes
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>



</body>
</html>