<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Template for the pets page</title>
</head>
<body>

    <!-- only this fragment is actually used -->
    <div class="row" th:fragment="main">
    
        <div class="col-md-12">
            <h1>Pet list</h1>
            
            <!-- Loading when no pets loaded -->
            <div x-ng-if="!pets">
                <span><i class="fa fa-spinner fa-spin fa-3x"></i></span>
                Loading pets, please wait
            </div>
            
            <!-- Show the pets once we loaded them -->
            <div class="panel panel-default" x-ng-if="pets">
                <div class="panel-heading">
                    
                    <!-- Toolbar -->
                    <div class="btn-toolbar" role="toolbar" aria-label="add...">
                        
                        <!-- filter -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" x-ng-click="listAllPets()">All pets</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Find...
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="" x-ng-click="findById($event)">By id</a></li>
                                    <li><a href="" x-ng-click="findByStatus($event)">By status</a></li>
                                </ul>
                            </div>
                        </div>
                            
                        
                        <!-- add -->
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary btn-tool" x-ng-click="addPet($event)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                        <!-- refresh -->
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary btn-tool" x-ng-click="refresh()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                
                <!--/* if no pet */-->
                <div class="panel-body" x-ng-show="pets.length == 0">
                    No pet found!
                </div>
                
                <!--/* if at least 1 pet */-->
                <div class="table-responsive" x-ng-show="pets.length > 0">
                    <table class="table table-bordered table-striped table-pets table-condensed">
                        <thead>
                            <tr>
                                <th class="col-category col-sortable" x-ng-click="sortBy('category.name')">
                                    Category
                                    <span x-ng-show="sortType == 'category.name' &amp;&amp; !sortReverse" class="fa fa-caret-down"></span>
                                    <span x-ng-show="sortType == 'category.name' &amp;&amp; sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th class="col-id col-sortable" x-ng-click="sortBy('id')">
                                    Id
                                    <span x-ng-show="sortType == 'id' &amp;&amp; !sortReverse" class="fa fa-caret-down"></span>
                                    <span x-ng-show="sortType == 'id' &amp;&amp; sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th class="col-name col-sortable" x-ng-click="sortBy('name')">
                                    Name
                                    <span x-ng-show="sortType == 'name' &amp;&amp; !sortReverse" class="fa fa-caret-down"></span>
                                    <span x-ng-show="sortType == 'name' &amp;&amp; sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th class="col-status col-sortable" x-ng-click="sortBy('status')">
                                    Status 
                                    <span x-ng-show="sortType == 'status' &amp;&amp; !sortReverse" class="fa fa-caret-down"></span>
                                    <span x-ng-show="sortType == 'status' &amp;&amp; sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th class="col-tools">
                                    &nbsp; <!-- tools -->
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr x-ng-repeat="pet in pets | orderBy:sortType:sortReverse | filter:paginate" x-ng-class="(pet.busy ? 'busy' : '') + ' pet-' + pet.id">
                                <td class="spacing capitalize"><span>{{ pet.category.name }}</span></td>
                                <td class="spacing"><span>{{ pet.id }}</span></td>
                                <td class="spacing"><span>{{ pet.name }}</span></td>
                                <td class="spacing"><span>{{ pet.status }}</span></td>
                                <td>
                                    <span x-ng-show="pet.busy" class="busy"><i class="fa fa-cog fa-spin fa-2x" aria-hidden="true"></i></span>
                                    <span class="btn-group" x-ng-show="!pet.busy">
                                        <a class="btn btn-primary" x-ng-click="petDetail(pet)"><i class="fa fa-info" aria-hidden="true"></i></a>
                                        <a class="btn btn-danger" x-ng-click="confirmDeletion(pet, $event)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!--/* end table */-->
                    
            </div> <!--/* end pet panel */-->
            
                        
        </div><!--/* end col */-->
        
        <div class="col-md-12">
            <uib-pagination total-items="pets.length" ng-model="currentPage"  
                            max-size="5" boundary-links="true"  
                            items-per-page="numPerPage" class="pagination-sm pet-pagination"
                            x-ng-show="pets.length > numPerPage">  
            </uib-pagination>
        </div>
        
            
        <!--/* DIALOGS IMPORTED */-->
        <th:block th:replace="pets/dialogs :: findPetById"/>
        <th:block th:replace="pets/dialogs :: findPetByStatus"/>
        <th:block th:replace="pets/dialogs :: confirmPetDeletion"/>
        <th:block th:replace="pets/dialogs :: addPet"/>
        
    
        
    </div> <!--/* end row & fragemnt */-->
    
    
    
    
</body>
</html>