html {
    background-color: white;
}

// removes the blue outline on focus in chrome
// !! this reduces usability !!
*:focus {outline:none !important} 

// HEADER //

.page-header, .navbar {
    //height: 60px;
    margin: 0;
    padding: 0;
    border: none;
    
    img.logo {
        padding-right: 6px;
        padding-left: 12px;
    }
}
.navbar-inverse .navbar-nav > li > a.active {
    color: white;
}



// CONTENT //
.page-content {
    //margin-top: 60px;
    padding-top: 60px;
    
    h1 {
        margin-top: 10px;
    }
    
    td {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

.btn-tool {
    height: 34px;
}

tr.busy {
    font-style: italic;
    color: grey;
}

td {
    .busy {
        .pull-right;
        margin: -5px 10px;
        
//        i {
//            .fa; 
//            &:before {content: @fa-var-cog} 
//            .fa-spin;
//            .fa-2x;
//        }
    }
}

th.col-sortable:hover {
    cursor: pointer;
    text-decoration: underline;
}

//.dl-horizontal {
//    dt, dd {
//        display: inline-block;
//    }
//}

dl.pet-identity  {
    float: left;
    //width: 520px;
    margin: 1em 0;
    padding: 0;
    //border-bottom: 1px solid #999;
    
    dt {
        clear: left;
        float: left;
        width: 80px;
        margin: 0;
        padding: 5px;
        //border-top: 1px solid #999;
        font-weight: bold;
        
        &:after {content: ": ";}
    }
    
    dd {
        float: left;
        //width: 300px;
        margin: 0;
        padding: 5px;
        //border-top: 1px solid #999;
        text-transform: capitalize;
    }
}

//dt:after {content: ": ";}

// PETS //
.table-pets {
    .col-category {
        width: 120px;
    }
    .col-id {
        width: 48px;
    } 
    .col-name {
        width: 150px;
    } 
    .col-status {
        
    } 
    .col-tools {
        width: 90px;
    }
}

.pet-pagination {
    margin-top: 0;
}

